# use glob syntax.
syntax: glob

*~
*.pyc
*\#
*\.\#*
*.orig
.DS_Store
venv
*.box
.vagrant
bash-scripts/
packer/builds/
packer/processing/
packer/packer
packer/packer_cache/
packer/json-res/
packer/output-virtualbox-iso
