# use glob syntax.
syntax: glob

*~
*.pyc
*\#
*\.\#*
*.orig
.DS_Store
venv
*.box
*.egg-info
.vagrant
*zip*

vagrant_boxes/bash-scripts
vagrant_boxes/packer/packer
vagrant_boxes/packer/output-virtualbox-iso

**/builds
**/processing
**/packer_cache
**/json-res
