# use glob syntax.
syntax: glob

*~
*.pyc
*\#
*\.\#*
*.orig
.DS_Store
venv
*.box
.vagrant

vagrant-boxes/bash-scripts
vagrant-boxes/packer/packer
vagrant-boxes/packer/output-virtualbox-iso

**/builds
**/processing
**/packer_cache
**/json-res

